<div class="nav">
	<% if current_user %>
		welcome <%= current_user.name %>
		<%= link_to "Sign Out", signout_path %>
	<% else %>
		<%= link_to "Sign in with twitter", "/auth/twitter" %>
	<% end %>
</div> 
<div class="flash">
	<% flash.each do |name, msg| %>
		<%= content_tag :div, msg,  :id => "flash_#{name}"%>
	<% end %>
</div>
<div class="search">
<%= form_for @search, :url => "/movies/show" do |f| %>
<%= f.label :keyword %>:
<%= f.text_field :keyword %>
<%= f.submit :value=> "Search"%>
<%end%>
</div>
